/* Background pattern from Toptal Subtle Patterns */

body
{
	background-color: #303030;
}
.theme
{
	text-align: center;
	color: #ffffff;
	font-family: 'PT Serif', serif;
	padding: 0;
}

.theme p
{
	margin-top: 30px;
}

.theme figure
{
	margin-top: 35px;
}

.navbar
{
	background-color: #aad5f1;
	font-family: 'Sulphur Point', sans-serif;
	border-bottom-style: groove;
	border-bottom-color: white;
	text-align:center;
}

.nav-item
{
	letter-spacing: 2px;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	border-radius: 15px;
	padding: auto;
}
header
{
	padding-top: 60px;
	text-align: center;
	border-bottom-style: solid;
	
	
}

footer
{
	background-color: #aad5f1;
	text-align: center;
	font-family: 'Sulphur Point', sans-serif;
	color: #000000;
	width: 60%;
	border-top-style: groove;
	border-top-color: white;
	margin: auto;
}
.bord
{
	border-style: dotted;
	margin-bottom: 5px;
	border-radius: 20px;
}
.navbar-nav
{
	margin-left: auto;
	margin-right: 27%;
	
}

.nav-item:hover
{
	background-color: #99c4d0;
}





