html
{
	scroll-behavior: smooth;
}
body
{
	background-color: #303030;
}

section
{
	text-align: center;
	color: #ffffff;
	font-family: 'PT Serif', serif;
	padding: 0;
}

section p
{
	margin-top: 30px;
}

section figure
{
	margin-top: 35px;
}


.navbar
{
	background-color: #d5e1e8;
	font-family: 'Sulphur Point', sans-serif;
	border-bottom-style: groove;
	border-bottom-color: white;
	text-align:center;
}

.nav-item
{
	letter-spacing: 2px;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	border-radius: 15px;
	padding: auto;
}
.nav-link
{
	color: #303030;
}
.navbar-brand
{
	color: #303030;
}
header
{
	padding-top: 60px;
	text-align: center;
	border-bottom-style: solid;
	
	
}

footer
{
	background-color: #d5e1e8;
	text-align: center;
	font-family: 'Sulphur Point', sans-serif;
	color: #000000;
	width: 60%;
	border-top-style: groove;
	border-top-color: white;
	margin: auto;
}
.bord
{
	border-style: dotted;
	margin-bottom: 5px;
	border-radius: 20px;
}
.navbar-nav
{
	margin-left: auto;
	margin-right: 27%;
	
}

.nav-item:hover
{
	background-color: #303030;
}
.nav-link:hover
{
	color: #d5e1e8;
}

.navbar-brand:hover
{
	color: #303030;
}
.navbar-toggler{
    width: 47px;
    height: 34px;
    background-color: #d5e1e8;
    border:none;
}
.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 2px;
    background-color: #303030;
    margin-bottom: 5px;
}





