/* Background pattern from Toptal Subtle Patterns */

body
{
	background-color: #303030;
}
.theme
{
	text-align: center;
	color: #ffffff;
	font-family: 'Baskervville', serif;
	padding: 0;
}

.theme p
{
	margin-top: 30px;
}

.theme figure
{
	margin-top: 35px;
}

.navbar
{
	background-image: url("img/tlo.png");
	font-family: 'Sulphur Point', sans-serif;
}

.nav-item
{
	border-right-style: dotted;
	letter-spacing: 2px;
}
header
{
	padding-top: 60px;
}

footer
{
	background-image: url("img/tlo.png");
	text-align: center;
	font-family: 'Sulphur Point', sans-serif;
	color: #000000;
	position: absolute;
	width: 100%
}
.bord
{
	border-style: dotted;
	margin-bottom: 5px;
}




